{% extends "main/base.html" %}

{% block title %}Shelters Shop • О компании{% endblock %}

{% block content %}
    <div class="infoAbout">
        <div>
            <h1>О НАС</h1>
            <p><strong>ООО “Vault-Tec Corporation”</strong><br>ул. Державина, 15, Владивосток,<br>Приморский край, 690014</p>
            <p><i class='bx bx-envelope'></i>vault_tec_contact@gmail.com</p>
            <p><i class='bx bx-phone'></i>8 800 22 33423</p>
        </div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A576fb334127581c193b08011e2c3c33f523556e0149093b0223c9ad0e9e34125&amp;source=constructor" width="540" height="460" frameborder="0"></iframe>
    </div>
{% endblock %}